#banner {
	width: 100%;
	height: 400px;
	border:  10px solid #000000;
}

.main {
	background: #CCCCCC;
	padding: 30px;
}

.main-title {
	margin-left: 20px;
}

p {
	text-align: center;
}

#mission {
	font-size: 20px;
}

em strong {
	color:  #FF0000;
}

.items {
	font-style: italic;
}

.benefits {
	background: #FFFFFF;
	padding: 20px;
}

.center-title {
	text-align: center;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.image-benefits {
	width:  50%;
}